php_flag display_errors On

RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

RewriteCond %{REQUEST_URI} ^(.*/date_of_headings\.json)$
RewriteRule ^ %1.php [L]
